body{
    margin: 0;
     font-family: poppins;
    }
    section{
        height: 500px;
    }
.name{
    color: orange;
}
h1{
    font-size: 50px;
    }
.half{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;

}

.half img{
    width: 100%;
}
.fist-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.fist-button img{
    width: 20px;
    margin-right: 1%;
}
.last-div{
    width: 25%;
    float:left;
    margin-top: 50px;
    margin-left: 1%;
    padding: 2%;
    box-shadow: 10px 10px 40px gray;
    height: 55%;
    background-color: honeydew;
    border-radius: 5px;
}
.last-div img{
    width: 100%;

}
.LASTET-sec{
    height: 600px;
    margin-top: 200px;
    background-color:rgb(245, 240, 240);
}
h2{
    text-align: center;
   
}
#LASTET01{
    margin-left:5%;
}


#LASTET03{
    margin-right:5%;
}
.last-sec img{
    width: 100%;
    margin: 0;
    margin-left: 50%;
    margin-right:50%;

}

.fianl-div{
    width: 50%;
    margin-top: 5px;
    padding: 2%;
}
.last-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}
#last-but{
    position: absolute;
    margin-left: 60%;
    margin-top: 5%;
}
.last-work{
    position: absolute;
    align-content: center;
    color: white;
    margin-left: 30%;
    margin-top: 5%;
}
footer{
    text-align: center;
}
.icon img{
    width: 30px;
}
#las{
    color: lightsalmon;
}
#working{
    color: rgb(14, 14, 85);

}
.Final-sec{
    height: 250px;
    margin-top: 40px;
}
.Final-sec img{
    width: 100%;
    margin-left: 45%;
}